header {
    margin: 0px 0px 0px 200px;
    background-color: white;
}
h1 {
    background-color:#4aaaa5; 
    color:white; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 20%;
    height: 60px;
    border-left: 200px;
    border-bottom: 0px;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 40px;
}

/* class selectors */
.nav-list
{
   float: right;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  color: #333;
  list-style-type: none;
  display: inline;
  padding: 0px;
  margin: 0px 240px 0px 0px;
}

#about {
    display: inline-block;
    border-left: 1px solid #666666;
}

#portfolio {
    display: inline-block;  
    border-left: 1px solid #666666;
}

#contact {
    display: inline-block;
    border-left: 1px solid #666666;
}

a {
    color: #333;
}
a:hover {
    background-color: #4aaaa5;
}
a:visited {
    color: purple;
}
#styledImage {
    float: left;
    height: 300px;
    width: 250px;
    margin: 0px 10px 10px 0px;
}

#figure1 {
    margin: 0px 5px 0px 0px;
    display: table;
    width: 30%;
}

#figure2 {
    margin: 0px 5px 0px 0px;
    display: table;
    width: 30%;
   
}

#figure3 {
    margin: 0px 5px 0px 0px;
    display: table;
    width: 30%;
}

#figure4 {
    margin: 0px 5px 0px 0px;
    display: table;
    width: 30%;
}

#figure5 {
    margin: 0px 5px 0px 0px;
    display: table;
    width: 30%;
}
#caption1 {
    display: table-caption;
    caption-side: bottom;
}

#caption2 {
    display: table-caption;
    caption-side: bottom;
}
footer {
    height: 60px;
    border-top: 8px solid #4aaaa5; background-color: #666666;
    width: 100%;
    align-content: center;
}
.clearfix::after {
content: " ";
display: block;
clear: both;
}

.content
{
  width: 960px;
  padding: 12px;
  margin: 20px 200px 40px 200px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background-color: white;
}
.push {
    height: 200px;
}

#submit {
    background-color: #4aaa;
    color: white;
    height: 35px;
    width: 75px;
}